.taskItem{
  width: 95%;
  height: 60px;
  min-height: 40px;
  margin: 5px 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: beige;
  border-radius: 5px;

  &__task{
    font-size: 20px;
    line-height: 20px;
    text-align: center;

    &--done{
      font-size: 20px;
      text-decoration: line-through;
      font-style: italic;
    }
  }
  &__btn{
    width: 25px;
    font-size: 15px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    transition: 5ms;
    outline: none;

    &:hover{
      font-size: 20px;
      padding-right: 5px;
    }
    &:active{
      font-size: 25px;
    }
  }
}

.checkbox{
  width: 23px;
  height: 23px;
  vertical-align: middle;
  border: solid 1px #255972;
  border-radius: 5px;
  background-color: #fff;

  &--checked {
    width: 23px;
    height: 23px;
    vertical-align: middle;
    border: solid 1px #ffffff;
    border-radius: 5px;
    background-color: #2c5f79;//#4CD6CE;
    background-image: url('../../img/checked.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
  }
}